
/* @font-face {
    font-family: "CMU Sans Serif Medium";
    src: url("../fonts/cmunss.ttf");
}

@font-face {
    font-family: "CMU Sans Serif Demi Condensed";
    src: url("../fonts/cmunssdc.ttf");
} */

body {
    background-color: #ededf1;
}

main {
    float: left;
    font-family: 'Libertinus';
    /* font-family: "CMU Sans Serif Medium"; */
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    box-shadow:  5px 5px 50px #D3D7D9,
            /* -3px -1px 4px #F5F5F5; */
}

.planck-title {
    /* font-family: "CMU Sans Serif Demi Condensed"; */
    font-family: 'Libertinus';
    text-align: center;
}

.planck-img {
    position: absolute;
    float: left;
}

.note {
    background-color: #f8f8f8;
    border-radius: 20px;
    font-family: 'Libertinus';
    padding: 8px;
    box-shadow:  25px 25px 40px #d3d3d3,
            -25px -25px 40px #ffffff;
}

.profile-pic {
    /*  */
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 10px;
    box-shadow:  25px 25px 40px #d3d3d3,
            -25px -25px 40px #ffffff;
}

#planck-logo {
    width: 7%;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #planck-logo {
        width: 15%
    }
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #planck-logo {
        width: 20%
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    #planck-logo {
        width: 21%
    }
}