
@font-face {
    font-family: "CMU Sans Serif Medium";
    src: url("../fonts/cmunss.ttf");
}

@font-face {
    font-family: "CMU Sans Serif Demi Condensed";
    src: url("../fonts/cmunssdc.ttf");
}

body {
    background-color: #ededf1;
}

main {
    font-family: "CMU Sans Serif Medium";
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    /* padding: 0px 10px 10px 10px; */
    box-shadow:  5px 5px 50px #D3D7D9,
            /* -3px -1px 4px #F5F5F5; */
}

.planck-title {
    font-family: "CMU Sans Serif Demi Condensed";
    /* padding-bottom: 5px; */
}

.footer-img {
    width: 17%;
    float: right;
}